Practica 1

In [17]:
#Importamos la librería pandas que nos va a permitir trabajar con datasets
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

filasorg = titanic.count()
titanic = titanic.drop_duplicates()
titanic = titanic.dropna(axis="rows", how="any")
filasdesp = titanic.count()

print(filasorg)
print(filasdesp)

titanic.reset_index()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
SibSp          891
Parch          891
Ticket         891
Fare           891
dtype: int64

,index,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

Es importante limpiar los datasets antes de utilizarlos porque los datos de mala calidad pueden afectar negativamente el análisis y la precisión de los modelos. Los valores nulos pueden generar errores en cálculos o modelos de machine learning, ya que muchas técnicas no pueden manejarlos adecuadamente. Por otro lado, los datos duplicados pueden sesgar los resultados y hacer que ciertos valores tengan un peso mayor del que deberían. Al eliminar valores nulos y duplicados, se mejora la calidad de los datos, garantizando análisis más confiables y modelos más precisos.

In [ ]:
#Limpiamos los cambios hechos al dataset
titanic.reset_index(drop=True)

2. Antes de empezar, determina si hay algún atributo no nos va a resultar útil y por qué.

***Respuesta***
Consideramos dos columnas como innecesarias para el dataset:
    . Ticket: almacena el número de ticket que tenía el pasajero, este no es relevante debido a que no tiene sentido compararlo con ningún otro valor.
    . Cabin: almacena el número de cabina de cada pasajero, no se considera un dato importante.

3. Relaciones entre atributos: dibuja diagramas de dispersión y calcula coeficientes de correlación. ¿Cuáles son los atributos que están más relacionados y qué podemos interpretar?

In [ ]:
#Para dibujar un diagrama de dispersión utilizaremos la función pandas.DataFrame.plot.scatter
titanic.plot.scatter(x = "Pclass", y = "Fare")

#Para calcular los coeficientes de correlación utilizaremos la función pandas.DataFrame.corr
titanic.corr(numeric_only=True)

4. Atributos numéricos:
    a. Calcula media, desviación típica, valores mínimos, máximos, etc. de los atributos numéricos. Describe estos valores para cada variable.

In [ ]:
titanic.describe()

In [ ]:
titanic.mean(numeric_only=True)

In [ ]:
titanic.std(numeric_only=True)

In [ ]:
titanic.min(numeric_only=True)

In [ ]:
titanic.max(numeric_only=True)

5. Atributos categóricos:
    a. Dibuja histogramas, diagramas de barras o de tartas para determinar las frecuencias de los valores de los atributos categóricos. Indica el número de valores distintos para cada atributo y el valor más frecuente para cada atributo. ¿Qué atributos están balanceados y cuáles no?

In [ ]:
titanic.hist(figsize=(20,10), bins= 50)
titanic["Embarked"]

Como podemos ver en las gráficas de arriba los valores más balanceados son los de "Age" y "PassengerID" que representan la edad de los pasajeros y sus identifadores respectivamente, los que se encuentran más desbalanceados son "Pclass" y "Survived", que representan la clase en la que viajaban los pasajeros y aquellos que sobrevivieron al hundimiento respectivamente.

Los valores máximos de cada atributo son los siguientes:
    **PassengerId**:
    **Survived**: 1.0
    **Pclass**: 1.00
    **Age**:  
    **SibSp**:
    **Parch**:
    **Fare**:

6. Determina si hay outliers. Fíjate en las gráficas y descripciones que has empezado antes.

In [ ]:
#Para poder sacar aquellos valores considerados "outliers" vamos a usar la libreria scipy.stats
from scipy import stats

threshold_z = 2 #Vamos a poner que la diferencia del valor frente a la media no puede ser superior a dos.

outlier_indices = np.where(np.abs(stats.zscore(titanic["PassengerId"])) > threshold_z)[0]
no_outliers = titanic.drop(outlier_indices)
print("Original DataFrame Shape:", titanic.shape)
print("DataFrame Shape after Removing Outliers:", no_outliers.shape)

7. Convierte los atributos categóricos en valores numéricos usando OneHotEncoder (o getdummies) y LabelEnconder. Observa las diferencias y discute cuál sería la mejor opción cuando el dataset sea usado en un modelo de IA.

In [ ]:
from sklearn.preprocessing import OneHotEncoder #OneHotEncoder all the way
from sklearn.preprocessing import LabelEncoder

onehot = OneHotEncoder(handle_unknown='ignore')
label = LabelEncoder()

titanic_label = label.fit_transform(titanic.columns)
titanic_onehot = onehot.fit_transform(titanic)


print(titanic_label)
print(titanic_onehot)

In [ ]:
from sklearn.preprocessing import Normalizer, StandardScaler

norm = Normalizer()
stand = StandardScaler()

#titanic_norm = norm.fit_transform(titanic)
#titanic_stand = stand.fit_transform(titanic)

print(titanic)